/* COLORS */
$primary: #1a456d;
$primary-dark: #264653;
$secondary: #2a9d8f;
$destaque: #47def9;
$warning: #e9c46a;
$warm: #f4a261;
$alert: #e76f51;
$danger: #e63946;
$info: #90e0ef;
$darkgray: #6d6875;
$lightgray: #b7b7a4;
$ice: #f1faee;

/* STYLES */
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font-size: 1.6rem Helvetica;
    height: 100vh;
    margin: 0;
}
.grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}
.header{
    background-color: $primary;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        color: $ice;
        font-size: 1.5rem;
        text-decoration: none;
    }
    .brand{
        display: flex;
        align-items: center;
        button{
            font-size: 3rem;
            padding: .5rem;
            background: none;
            color: $ice;
            border: none;
        }
        a{
            font-size: 2.5rem;
        }
    }
    .header-links{
        text-align: right;
        position: relative;
        font-size: 1.5rem;
        .links{
            background: $destaque;
            min-width: 240px;
            color: $primary-dark;
            font-weight: 600;
            padding: 2px 30px;        
            .messages-count{
                background-color: $danger;
                color: $ice;
                position: absolute;
                top: 16px;
                right: 65px;
                padding: 0px 6px;
                border-radius: 50px;
                font-weight: 300;
                font-size: 1.2rem;
                animation: blinker 1s linear infinite;
            }
            span{
                display: block;
                font-size: 1.1rem;
                font-weight: normal;
            }
        }
        .inclinacao{
            position: absolute;
            left: 0;
            border-top: 50px solid $primary;
            border-right: 20px solid $destaque;
            font-size: 0px;
            line-height: 0%;
            width: 0px;
        }
        a{
            color: $primary;
            margin-left: 20px;
            font-size: 2rem;
        }
    }
}
.hr-header {
    border: none;
    display: inline-block;
    padding: 0;
    margin: -8px 0 0 0;
    top: 51px;
    position: absolute;
    width: 100%;
    left: 0;
    height: 1px;
    background: #47def9;
}
.sidebar{
    position: fixed;
    transform: translateX(-20rem);
    width:20rem;
    background-color: $primary;
    color: $ice;
    height: 100%;
    transition: all 0.5s;
    &.open{
        box-shadow: 2px 5px 5px #071e299c;
        transform: translateX(0);
    }
    .sidebar-close{
        position: absolute;
        right: 5px;
        top: 5px;
        background-color: transparent;
        color: #fff;
        border: 0.5px solid #fff;
        border-radius: 15px;
        padding: 1px 6px 3px;   
        text-decoration: none;
        &:focus{
            outline: unset;
        }     
    }
}
.main{
    grid-area: main;
}
.footer{
    padding: 0;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $darkgray;
    color: $ice;
}
@keyframes blinker {
    50% {
      opacity: 0;
    }
  }