/* COLORS */
$primary: #264653;
$secondary: #2a9d8f;
$warning: #e9c46a;
$warm: #f4a261;
$alert: #e76f51;
$danger: #e63946;
$info: #90e0ef;
$darkgray: #6d6875;
$lightgray: #b7b7a4;
$ice: #f1faee;

/* STYLES */
header{
    background-color: $primary;
}